<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


<mappers>
    <mapper class="com.xk.task.data.dao.ITRoleDAO"></mapper>
    <mapper class="com.xk.task.data.dao.ITTaskDAO"></mapper>
    <mapper class="com.xk.task.data.dao.ITPlanDAO"></mapper>
    <mapper class="com.xk.task.data.dao.ITEmployeeDAO"></mapper>
</mappers>


</configuration>